<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastrar Semana</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="imagens/faviconJP.png">
        <link rel="stylesheet" href="css/index.css" />   
        <link rel="stylesheet" href="css/restrito.css" />   
    </head>

    <body>
        <header class="site-header">

            <div class="cabecalho">
                <a th:href="@{/inicio}">
                <img th:src="@{imagens/JP0.png}" alt="alt"/>
                </a>
                <div id="cabecalhoCongregacao">
                    <h1>Congregação: <br>"Jardim Peruíbe"</h1>
                </div>
            </div>

            <button id="botaoVoltar">
                <a th:href="@{/restrito}">
                    Voltar
                </a>
            </button>

        </header>

        <main>

            <form class="cadastrarCategoriaForm" method="post" th:action="@{/cadastrarSemana}" th:object="${semana}" enctype="multipart/form-data">

                <h1 class="categoria2">Cadastrar designações para semana</h1>
                
                <label>Nova semana: </label> 
                <input th:field="${semana.dia}" type="text" name="dia"><br><br>
                
                <label>Foto: </label> 
                <input onclick="clearFileName1()" id="fotoInput0" type="file" name="image"><br><br>
                
                <label>Foto Meio de Semana: </label> 
                <input onclick="clearFileName2()" id="fotoInput01" type="file" name="image1"><br><br>
                
                <label>Foto Fim de Semana: </label> 
                <input onclick="clearFileName3()" id="fotoInput02" type="file" name="image2"><br><br>          
                
                <label>Indicador Responsavel: </label> 
                <input th:field="${semana.palco}" type="text" name="palco"><br><br>
                
                <label>Portão: </label> 
                <input th:field="${semana.portao}" type="text" name="portao"><br><br>
                
                <label>Indicador: </label> 
                <input th:field="${semana.indicador}" type="text" name="indicador"><br><br>
                
                <label>Microfone Volante 1: </label> 
                <input th:field="${semana.volante1}" type="text" name="volante1"><br><br>
                
                <label>Microfone Volante 2: </label> 
                <input th:field="${semana.volante2}" type="text" name="volante2"><br><br>
                
                <label>Mídias: </label> 
                <input th:field="${semana.midias}" type="text" name="midias"><br><br>
                
                <label>Audio: </label> 
                <input th:field="${semana.audio}" type="text" name="audio"><br><br>
                
                <label>Limpeza do Grupo: </label> 
                <input th:field="${semana.limpeza}" type="text" name="limpeza"><br><br>
                
                <label>Link meio de semana: </label> 
                <input th:field="${semana.link1}" type="text" name="link1"><br><br>
                
                 <label>Link fim de semana: </label> 
                <input th:field="${semana.link2}" type="text" name="link2"><br><br>                                
                
                <button id="botaoCategoria" class="botaoCadastrar" type="submit">Salvar Semana</button>

            </form>



        </main>

        <footer class="app-footer">

        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        
        <script>
            
             function clearFileName1() {
                            var inputF = document.getElementById('fotoInput0');
                            inputF.style.color = 'initial';
                        }

                        function clearFileName2() {
                            var inputF = document.getElementById('fotoInput01');
                            inputF.style.color = 'initial';
                        }

                        function clearFileName3() {
                            var inputF = document.getElementById('fotoInput02');
                            inputF.style.color = 'initial';
                        }
                        
        </script>

    </body>

</html>