<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Excluír Semana</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="imagens/faviconJP.png">
        <link rel="stylesheet" href="css/index.css" />   
        <link rel="stylesheet" href="css/restrito.css" />   
    </head>

    <body>
        <header class="site-header">

            <div class="cabecalho">
                <a th:href="@{/inicio}">
                    <img th:src="@{imagens/JP0.png}" alt="alt"/>
                </a>
                <div id="cabecalhoCongregacao">
                    <h1>Congregação: <br>"Jardim Peruíbe"</h1>
                </div>
            </div>

            <button id="botaoVoltar">
                <a th:href="@{/restrito}">
                    Voltar
                </a>
            </button>

        </header>

        <main>

            <div id="textoExcluir" data-id="${semana.id}">
                <p >Você tem certeza que desejar excluír a semana "<span th:text="${semana.dia}"></span>"? <br>Essa ação não poderá ser desfeita.</p>

                <img th:src="@{'/imagens/' + ${semana.foto}}" th:alt="${semana.dia}"/>

                <div class="excluirDivs">
                    <p id="categoriaId" th:text="${semana.id}" style="display: none;"></p>
                    <button class="botaoExcluir1" type="button" onclick="excluirCategoria()">Excluir</button>


                    <button class="botaoCancelar" onclick="goBack()">Cancelar</button>            
                </div>

            </div>



        </main>

        <footer class="app-footer">

        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

        <script>
                        function excluirCategoria() {
                            var categoriaId = document.getElementById("categoriaId").textContent;

                            if (confirm("Você tem certeza que deseja excluir essa semana? Essa ação não poderá ser desfeita.")) {
                                fetch(`excluirSemanaId?id=${categoriaId}`, {
                                    method: 'DELETE',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                })
                                        .then(response => {
                                            if (response.ok) {
                                                var permissao = localStorage.getItem("permissao");
                                                var form = document.createElement("form");
                                                form.setAttribute("method", "POST");
                                                form.setAttribute("action", "irMostrarSemana");
                                                var inputPermissao = document.createElement("input");
                                                inputPermissao.setAttribute("type", "hidden");
                                                inputPermissao.setAttribute("name", "permissao");
                                                inputPermissao.setAttribute("value", permissao);
                                                form.appendChild(inputPermissao);
                                                document.body.appendChild(form);
                                                form.submit();
                                            } else {
                                                throw new Error('Erro ao excluir a semana');
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Erro:', error);
                                            alert('Erro ao excluir a semana');
                                        });
                            }
                        }
        </script>

    </body>

</html>